<div class='row'>
  <div class='twelve columns'>

    <% if @link && @link.errors %>
      <% @link.errors.full_messages.each do |msg| %>
        <p class='form-error'> <%= msg %> </p>
      <% end %>
    <% end %>

    <%= form_for Link.new do |l| %>
      <div class='row'>
        <div class='three columns'>
          <%= l.label :user_name %>
          <%= l.text_field :user_id, class: 'input-field name', placeholder: "Name" %>
        </div>
        <div class='three columns'>
          <%= l.label :title %>
          <%= l.text_field :title, class: 'input-field name', placeholder: "Title" %>
        </div>

        <div class='three columns'>
          <%= l.label :body %>
          <%= l.text_field :body, class: 'input-field body', placeholder: "Text" %>
        </div>


      </div>
      <div class='row'>
        <%= l.submit %>
      </div>
    <% end %>
  </div>
</div>
