<h1> Reddit Homepage </h1>

<p><a href="/links/new"</a>Create New Link</p>
<div>
 <ol>
 <% @links.each do |link| %>
   <li>
     <a href="<%= link.title %>"><%= link.title %></a>
     <p>Posted by: <%= link.user.username unless link.user.blank? %> </p>

     <p><%= link.scores %></p>

     <%= button_to 'Up Vote', upvote_link_path(link.id),  method: :post %>
     <%= button_to 'Down Vote', downvote_link_path(link.id),  method: :post %>
   </li>
 <% end %>


 </ol>
 <% if params[:page].to_i == 0 %>
 <% params[:page] = 1 %>
 <% end %>
  <p><%= link_to "next page", "/links?page=#{params[:page].to_i + 1}" %></p>
  <% if params[:page].to_i > 1 %>
  <p><%= link_to "back page", "/links?page=#{params[:page].to_i - 1}" %></p>
  <% end %>

</div>
