<h1> Reddit Homepage </h1>

<p><a href="/links/new">Create New Link </a></p>

  <div id="top-story">
    Highlight The Top Post
  </div>

<div>
 <ol>
   <div class="post-children">
    <% @links.each do |link| %>
      <li>
        <div class="link_box">
         <a href="<%= link.title %>"><%= link.title %></a>
         <p>Posted by: <%= link.user.username unless link.user.blank? %> </p>
          <div class="row link_box_bottom id=new_score">
            <div class="two columns vote_buttons">
              <%= button_to 'Up Vote', upvote_link_path(link.id),  :remote => true, method: :post, class: 'button'%>
              <p class="scores">Total Votes: <%= link.scores %></p>
              <%= button_to 'Down Vote', downvote_link_path(link.id),  :remote => true, method: :post, class: 'button'%>
            </div>
          </div>

        </div>
       </li>
    <% end %>
  </div>
 </ol>

 <% if params[:page].to_i == 0 %>
 <% params[:page] = 1 %>
 <% end %>
  <p><%= link_to "next page", "/links?page=#{params[:page].to_i + 1}" %></p>
  <% if params[:page].to_i > 1 %>
  <p><%= link_to "back page", "/links?page=#{params[:page].to_i - 1}" %></p>
  <% end %>



</div>
