<!DOCTYPE html>
<html>

<head>
  <title>Reddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

      <%= csrf_meta_tags %>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css' />
</head>

<body>

  <%= render 'shared/navigation' %>

    <div class="container">

      <div class="content">

        <%= yield %>
      </div>

    </div>

      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>

</html>
